blinker==1.4
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cycler==0.10.0
cloudinary==1.14.0
Flask==1.0.2
Flask-CAS==1.0.0
Flask-Login==0.4.1
Flask-Session==0.3.1
gunicorn
Flask-Mail==0.9.1
flask-marshmallow==0.9.0
Flask-SQLAlchemy==2.3.2
Jinja2==2.11.3
marshmallow==2.16.3
marshmallow-sqlalchemy==0.15.0
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
python-dateutil==2.7.5
requests==2.20.1
SQLAlchemy==1.2.14
stripe==2.16.0
urllib3==1.24.1
redis==3.0.1
